Source: kde-style-qtcurve
Section: kde
Priority: optional
Maintainer: Kubuntu Developers <kubuntu-devel@lists.ubuntu.com>
XSBC-Original-Maintainer: Boris Pek <tehnick-8@mail.ru>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.0.0),
               kdelibs5-dev,
               kio-dev,
               libgtk2.0-dev,
               libkf5archive-dev,
               libkf5config-dev,
               libkf5configwidgets-dev,
               libkf5i18n-dev,
               libkf5kdelibs4support-dev,
               libkf5widgetsaddons-dev,
               libkf5xmlgui-dev,
               libqt5svg5-dev,
               libqt5x11extras5-dev,
               libx11-dev,
               pkg-kde-tools,
               qtbase5-dev,
               qtbase5-private-dev
Homepage: https://github.com/QtCurve/qtcurve
Vcs-Browser: https://bazaar.launchpad.net/~kubuntu-packagers/kubuntu-packaging/qtcurve
Vcs-Bzr: https://code.launchpad.net/~kubuntu-packagers/kubuntu-packaging/qtcurve
Standards-Version: 3.9.5

Package: kde-style-qtcurve5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: gtk2-engines-qtcurve
Description: QtCurve widget style for KDE 5
 This package contains the QtCurve widget style for KDE 5.
 .
 QtCurve is a set of widget styles for KDE and GTK+. It provides a consistent
 look between KDE and GTK+ applications, which is easy on the eyes and visually
 pleasing.
 .
 The corresponding GTK+ theme engine can be found in gtk2-engines-qtcurve
 package.

Package: kde-style-qtcurve4
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kde-style-qtcurve (<< 1.8.18+git20140721-0ubuntu1~)
Replaces: kde-style-qtcurve (<< 1.8.18+git20140721-0ubuntu1~)
Suggests: gtk2-engines-qtcurve
Description: QtCurve widget style for KDE 4
 This package contains the QtCurve widget style for KDE 4
 .
 QtCurve is a set of widget styles for KDE and GTK+. It provides a consistent
 look between KDE and GTK+ applications, which is easy on the eyes and visually
 pleasing.
 .
 The corresponding GTK+ theme engine can be found in gtk2-engines-qtcurve
 package.

Package: gtk2-engines-qtcurve
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: kde-style-qtcurve4 | kde-style-qtcurve5
Description: QtCurve gtk2 engines
 This package contains the gtk2 engines for qtcurve.
 .
 QtCurve is a set of widget styles for KDE and GTK+. It provides a consistent
 look between KDE and GTK+ applications, which is easy on the eyes and visually
 pleasing.

Package: libqtcurve-cairo0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library used for for common drawing routines.
 This package is only used by the Gtk2 QTCurve widget styles.

Package: libqtcurve-utils1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Helper library needed for qtcurve.
 This package contains a basic helper library needed
 for qtcurve-qt5.

Package: qtcurve-i18n
Section: localization
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Translation files for QtCurve
 This package contains translation files for QtCurve.
 .
 QtCurve is a set of widget styles for KDE and GTK+. It provides a consistent
 look between KDE and GTK+ applications, which is easy on the eyes and visually
 pleasing.

Package: qtcurve
Section: metapackages
Architecture: any
Depends: gtk2-engines-qtcurve (= ${binary:Version}),
         kde-style-qtcurve4 (= ${binary:Version}),
         kde-style-qtcurve5 (= ${binary:Version}),
         libqtcurve-cairo0 (= ${binary:Version}),
         libqtcurve-utils1 (= ${binary:Version}),
         qtcurve-i18n (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Unified window decoration for KDE and GTK+ (meta-package)
 This package installs all packages related with QtCurve:
  * kde-style-qtcurve
  * gtk2-engines-qtcurve
  * qtcurve-i18n
 .
 QtCurve is a set of widget styles for KDE and GTK+. It provides a consistent
 look between KDE and GTK+ applications, which is easy on the eyes and visually
 pleasing.

Package: qtcurve-dev
Section: devel
Architecture: any
Depends: ${misc:Depends}
Description: Development files for QtCurve
 This package contains development files for QtCurve.
 .
 QtCurve is a set of widget styles for KDE and GTK+. It provides a consistent
 look between KDE and GTK+ applications, which is easy on the eyes and visually
 pleasing.
