#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/3/debian-qt-kde.mk

override_dh_auto_configure:
	$(overridden_command) -- \
		-DENABLE_QT5=on \
			-DQTC_QT5_ENABLE_KDE=on \
		-DENABLE_QT4=on \
			-DQT_QMAKE_EXECUTABLE=/usr/bin/qmake-qt4 \
			-DQTC_QT4_ENABLE_KWIN=off

.PHONY: override_dh_auto_test
