#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

override_dh_auto_configure:
	$(overridden_command) -- \
		-DCMAKE_INSTALL_PREFIX=/usr
		-DENABLE_QT5=on
		-DENABLE_QT4=on
			-DQT_QMAKE_EXECUTABLE=/usr/bin/qmake-qt4
			-DQTC_QT4_ENABLE_KWIN=off

override_dh_fixperms:
	chmod +x debian/kde-style-qtcurve4/usr/share/themes/QtCurve/gtk-2.0/map_kde_icons.pl
	$(overridden_command)
